[Unit]
Description=Vyatta SNMP VRF Agent

[Service]
Type=simple
ExecStart=/opt/vyatta/sbin/vyatta-snmp-vrf-agent -f
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
